<div class="container">
<p id="notice"><%= notice %></p>



<p>
  <strong>Technology:</strong>
  <%= @technology.technology %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @technology.date_created %>
</p>

<p>
  <strong>Version:</strong>
  <%= @technology.version %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @technology.desc %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @technology.logo %>
</p>

<p>
  <strong>User:</strong>
  <%= @technology.user_id %>
</p>

<%= link_to 'Edit', edit_technology_path(@technology), class: 'btn btn-info' %> |
<%= link_to 'Back', technologies_path , class: 'btn btn-info'%>

</div>
